<h1>Edit User</h1>

<form action="/put_user/{{username}}" method="post">
    <h1>Change {{username}}'s password</h1>
    <input name="newPassword" type="text">
    <button type="submit">Update password</button>
</form>