<h1>Hello, this is the form page!</h1>
<form action="/submitted" method="post">
    <input type="text" name="username">
    <input type="text" name="password">
    <button type="submit">Submit</button>
</form>