<div>
    <h1>List Out All Users</h1>
    {{#each users}}
    <div>
        Username: {{this.username}}<br />
        Password: {{this.pass}}
        <a href="/edit_user_form/{{this.username}}">Edit</a>
    </div>
    {{/each}}
</div>