<div class="container">
    <h1>This is the home page</h1>
    <a href="/note_form">Create a note</a><br />
    <a href="/user_form">Create a user</a><br />
    <a href="/get_notes">Get all notes</a><br />
    <a href="/get_users">Get all users</a>
</div>