<h1>Hello, this is the create note page!</h1>
<form action="/post_note" method="post">
    Username:
    <input type="text" name="username">
    Content:
    <input type="text" name="content">
    <button type="submit">Submit</button>

</form>