<h1>Hello, this is the form page!</h1>
<form action="/post_user" method="post">
    <input type="text" name="newUsername">
    <input type="text" name="newPassword">
    <button type="submit">Submit</button>

</form>